//
   Created by kamaron on 9/8/15.

extends ../competition/index

block content
   table.table.table-hover
      tr
         th Key
      tr.success
         td Successful Build
      tr.danger
         td Failed Build
      tr
         td Pending Build
      tr.info
         td Failed Build (no penalty)
   table.table.table-hover
      tr
         th ID
         th Team
         th Server Time
         th Language
         th Results
      each submission in submissions
         tr(id='submission_' + submission.id)
            td= submission.id
            td
               p= submission.teamId
               i= submission.teamId
            td= new Date(submission.timestamp).toUTCString()
            td= languages[submission.languageId].name
            td
               a.btn.btn-primary(id='submission_' + submission.id + '_result')= submission.result || 'Building...'
   if !isNaN(parseInt(page))
      if page > 0
         a.btn.btn-primary(href="/competition/" + comp_data.id + "/problem/" + problemData.id + "/submissions?page=" + (parseInt(page) - 1)) Previous
      a.btn.btn-primary(href="/competition/" + comp_data.id + "/problem/" + problemData.id + "/submissions?page=" + (parseInt(page) + 1)) Next