//
   Created by Kamaron on 5/30/2015.

extends ./index

block content
   p
      | Select which users will be added to the admin team. You have by default been added,
      | but can remove yourself if you want. If you do, you will no longer be able to edit this
      | competition after it is created. You will not be able to create a competition with no
      | admins. Any user selected will not be able to compete in this competition, and will be
      | allowed full access to create/modify problems and test cases for this competition.
      | Only site administrators are able to create new test case comparison scripts.
   if page_errors.isFatal()
      h2 Errors were found, please correct them before continuing
   // Post to yourself if only adding or removing a team member
   form.form-horizontal(method="post", action="/admin/new-comp-team-select")
      fieldset
         legend Select Competition Admins
         input#comp_id(name="comp_id", type="hidden", value=comp_id)
         h2= page_errors.getError('general')
         // Add section
         .form-group
            label.col-md-4.control-label(for="add_admin") Add administrator
            .col-md-4
               input#add_admin.form-control.input-md(name="add_admin", type="text", placeholder="sessamekesh")
            .col-md-4
               input.btn.btn-primary(name="submit", type="submit", value="Add")
            span.col-md-4.help-block= page_errors.getError('add_admin')
   ul.list-group
      - for (var i = 0; i < admins_list.length; i++) {
         form.form-horizontal(method="post" action="/admin/new-comp-team-select")
            input#remove_admin(name="remove_admin", type="hidden", value=admins_list[i].id)
            li.list-group-item
               input.btn.btn-danger.pull-left(type="submit", name="submit", value="X")
               p.list-group-item-text= admins_list[i].username
      - }
   span.col-md-4.help-block= page_errors.getError('admin_team_list')
   form.form-horizontal(method="post", action="/admin/new-comp-desc-files")
      .form-group
         input.btn-primary.btn.col-md-offset-4#submit(type="submit", value="Next Step")