// Created by Kamaron on 6/16/2015.

extends ./index

block content
   table
      tr
         th Username
         th First Name
         th Last Name
         th Email Address
         th Admin
         th Public
         th Participation
         th Operations
      each user_entry in user_entries
         tr
            td= user_entry.username
            td= user_entry.first_name
            td= user_entry.last_name
            td= user_entry.email_address
            td= user_entry.is_admin ? "YES" : ""
            td= user_entry.public_facing ? "YES" : ""
            td
               a.btn.btn-primary(href="#", data-user-id=user_entry.id) View
            td
               ul
                  li Modify
                  li Delete
   #user-participation-dialog.hidden
      p